@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    font: var(--font);

    background-color: var(--bg);
    color: var(--text-color);

    min-height: 100vh;

    padding: 32px;
}

.content {
}

.theme_switcher {
    position: fixed;
    top: 0;
    right: 0;
}
