.cell {
    display: grid;

    gap: 4px;
}

.label {
    font-size: 12px;
    line-height: 100%;

    color: var(--label-color);
}

.value {
    display: inline-block;

    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    a {
        color: var(--bg-primary);

        &:hover {
            @media (hover: hover) {
                text-decoration: underline;
            }
        }
    }
}
